@tailwind base;
@tailwind components;
@tailwind utilities;

/* fadein-left */

@keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* fadein-right */

@keyframes fadein-right-custom {
  from {
    opacity: 0;
    transform: translateX(700px);
  }
  to {
    opacity: 1;
    transform: translateX(300px);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* slide-left */
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* fade in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}

.slide-left {
  animation: slide-left linear 30s infinite;
}

.fadein-left {
  animation: fadein-left 1s;
}

.fadein-right {
  animation: fadein-right 1s;
}

.fadein-right-custom {
  animation: fadein-right-custom 1s;
}

.style-1{
  position: relative;
}

.style-1::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 4rem;
  width: 500px;
  height: 100%;
  border-radius: 10px;
  @apply bg-orange-500
}